<% title 'Edit User' %>
<% header do %>
<h1>Edit User</h1>
<% end %>

<%= error_messages_for :user %>
<% form_for @user do |f| -%>
<%= f.hidden_field :id %>

<p><%= label_tag 'name' %><br/>
<%= f.text_field :name %></p>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'password' %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
<%= f.password_field :password_confirmation %></p>

<% if current_user.administrator %>

<p>
  <%= f.check_box :ra %> <%= f.label :ra, "Resident Assistant" %><br/>
  <ul>
  <%= f.label :building_id %> <%= f.select :building_id, Building.all.collect {|b| [b.name, b.id]} %><br/>
  <%= f.label :coverage_area %> <%= f.text_field :coverage_area %> (Example: 1-100,200, 115-178,980)
  </ul>
  <%= f.check_box :rd %> <%= f.label :rd, "Resident Director" %><br/>
  <%= f.check_box :service_provider %> <%= f.label :service_provider %><br/>
  <ul>
  <%= f.label :company %> <%= f.text_field :company %>
  </ul>
  <%= f.check_box :administrator %> <%= f.label :administrator %><br/>
</p>

<% end %>

<div class="footer"><%= submit_tag 'Save' %></div>
<% end -%>
