<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= yield(:title) %></title>
    
    <%= stylesheet_link_tag 'default' %>
    <%= stylesheet_link_tag 'tabs' %>
  </head>
  <body>
    <div id='outer_container'>
      <div id='container'>
      <div id='header'>
      <%= image_tag 'logo2.png' %><h1>prabums</h1>
      </div>
      <div id="top_navigation"><%= render :partial => 'users/user_bar' %></div><%= navigation [:work_orders, :settings], :authorize => [:settings], :with => :administrator_required %>
      <div id='contents'>
        <%= yield  %>
        <div id="footer">
          <%= version %><%= link_to image_tag('DSS.png'), "http://www.ducksoupsoftware.com", :popup => true %>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>